<div class="searchResults"> 
    <div class="form table-responsive-sm">
        <form method="POST" action="/cocktails/myCocktails?_method=DELETE">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Cocktail Name</th>
                    <th>Primary Alcohol</th>
                    <th class="recipe">Recipe</th>
                    <th class="edit"></th>
                    <th colspan="2" id="selectFavoriteTag">Select</th>
                </tr>
            </thead>
                <% if (cocktails) {%>
                <% cocktails.forEach(function(cocktail) { %>
                <tr>
                    <th scope="row" class="cocktailName"><a href="/cocktails/myCocktails/<%= cocktail.id %>"><%= cocktail.name%></a>
                    <br><br>
                    <small class="showEdit"><a href="/cocktails/myCocktails/edit/<%= cocktail.id %>">Edit</a><small>
                    </th>
                    <td><%= cocktail.primaryAlcohol%></td>
                    <td class="recipe"><%= cocktail.recipe%></td>
                    <td class="edit"><a href="/cocktails/myCocktails/edit/<%= cocktail.id %>">Edit</a></td>
                    <td><td><input type="checkbox" class="checksearch" name="id" value="<%= cocktail.id %>"></td></td>
                </tr>

                <tr>
                    <td colspan="4" class="text-center showRecipe">
                        <small class="font-italic">
                            <%= cocktail.recipe %>
                        </small>
                    </td>
                </tr>
                <%})%> 
                <% } %>
        </table>
            <div class="form-group d-flex justify-content-between">
                <a href="/cocktails/create" class="btn btn-outline-info footerButtons" role="button">Create New Cocktail</a>
                <button type="submit" class="btn btn-outline-danger footerButtons">Remove From Favorites</button>
            </div>
        </form>
    </div>
        <div>
        </div>
</div>
