<div class="container searchResults"> 
    <!-- LEAVE DIV CLASS ABOVE SAME FOR BOOTSTRAP/STYLING ONLY -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Cocktail Name</th>
                <th>Primary Alcohol</th>
                <th>Recipe</th>
                <th>Select</th>
            </tr>
        </thead>
    <% if (cocktails) {%>
    <% cocktails.forEach(function(cocktail) { %>
        <form method="POST" action="/cocktails/myCocktails?_method=DELETE">
            <tr>
                <th scope="row"><a href="/cocktails/myCocktails/<%= cocktail.id %>"><%= cocktail.name%></a></th></td>
                <td><%= cocktail.primaryAlcohol%></td>
                <td><%= cocktail.recipe%></td>
                <td><td><input type="checkbox" name="id" value="<%= cocktail.id %>"></td></td>
            </tr>
    <%})%> 
    <% } %>
    </table>
            <div>
                <button type="submit" class="btn btn-sm btn-outline-danger">Remove From Favorites</button>
            </div>
        </form>
</div>






<!-- BELOW TABLE -->
<!-- BUTTON LEFT - EDIT SELECTED RECIPE -->
<!-- BUTTON RIGHT - REMOVE SELECTED RECIPE -->

