<div class="container">
    <div= class="text-center searchInfo">
    <h1>COCKTAIL SEARCH</h1>
    <p>When you see a drink you like, you can add it to your favorites.</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center searchForm">
        <form action="/cocktails/search" method="POST">
            <input type="text" class="form-group text-center" id="formField" name="searchTerm" value="" placeholder="Pick Your Poison" required>
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Submit Search</button>
            </div>
            <div class="form-group d-flex justify-content-center">
                <% if (cocktails) {%>
                <button class="btn btn-outline-danger btn-sm" type="button" disabled><a id="clear" href="/cocktails/">Clear</a></button>
                <% } %> 
            </div>
        </form>
    </div>
    <div class="searchResults table-responsive-sm">
        <table class="table">
        <% if (cocktails) {%>
            <thead>
                <tr>
                    <th scope="col">Cocktail Name</th>
                    <th scope="col">Primary Alcohol</th>
                    <th class="col recipe">Recipe</th>
                    <th scope="col">Select</th>
                </tr>
            </thead>
                <% cocktails.forEach(cocktail => {%>
            <form method="POST" action="/cocktails/myFavorites">
                <tr>
                    <td><%= cocktail.name%></td>
                    <td><%= cocktail.primaryAlcohol%></td>
                    <td class="recipe"><%= cocktail.recipe%></td>
                <% let i = null %>  
                <% if (typeof userCocktails[0] !== "undefined") {%> 
                <% for (let j=0; j<userCocktails.length; j++) {%>
                    <% i = j %> 
                    <% if (userCocktails[j].name === cocktail.name) {%> 
                    <td><button class="btn btn-sm btn-info" id="favoriteButton" disabled>Favorited</button></td>
                    <% break %> 
                    <% } %> 
                    <% } %>  
                <% if (userCocktails[i].name !== cocktail.name) {%>
                    <td><input type="checkbox" class="checksearch" name="name" value="<%= cocktail.name %>"></td>
                <% } %>
                <% } else {%>
                    <td><input type="checkbox" class="checksearch" name="name" value="<%= cocktail.name %>"></td>
                <% } %> 
                </tr>
                
                <tr>
                    <td colspan="3" class="text-center showRecipe">
                        <small class="font-italic"><%= cocktail.recipe %></small>
                    </td>
                </tr>
            <%})%> 
        <% } %>
        </table>
    </div>
        <% if (cocktails) {%> 
        <div class="addFavorites col-md-12 d-flex justify-content-center" id="favoriteSubmit">
            <button class="btn btn-outline-info" type="submit">Add to Favorites</button>
        </div>
        <% } %> 
            </form>
</div>
